#box-1 {
    position: absolute;
    top: 580px;
    left: 50px;
    padding: 5px;
  }

  #box-2 {
    position: absolute;
    top: 580px;
    left: 170px;
    padding: 5px;
  }

  #box-3 {
    position: absolute;
    top: 580px;
    left: 290px;
    padding: 5px;
  }

  #box-4 {
    position: absolute;
    top: 580px;
    left: 410px;
    padding: 5px;
  }

h1 {
    float: left;
    position: absolute;
    font-size: 24px;
    background-color: blue;
    color: #4aaaa5;
    padding: 50px 20px 50px 20px;
    }

.container {
    position: absolute;
    top: 150px;
    left: 50px;
    margin: 0 auto;
    width: 500px;
    height: auto;
    background-color: purple;
    color: lavender;
    padding: 50px;
    }

    .numGuess {
        float: left;
        position: absolute;
        font-size: 18px;
        background-color: green;
        color: lightgreen;
        top: 460px;
        left: 50px;
        width: 250px;
        height: 100px;
        padding-left: 10px;
        padding-top: 10px
        }
    
    .score {
        position: absolute;
        top: 460px;
        margin: 0 auto;
        width: 100px;
        left: 330px;
        height: 100px;
        background-color: yellow;
        color: black;
        }

    .user {
        position: absolute;
        font-size: 18px;
        top: 700px;
        left: 50px;
        width: 250px;
        height: 100px;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-top: 10px;
        background-color: red;
        color: rgb(240, 179, 179);
    }